@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #00d991;
  --color-dark: #171923;
  --color-light: #fff;
  --color-body: #1d1e28;
}

@layer components {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }
  .dark {
    --my-bg: #171923;
    --my-text: #fff;
  }
}